@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*variables*/
:root {
 --very-dark-blue: hsl(243, 87%, 12%);
 --desaturated-blue: hsl(238, 22%, 44%);
 --bright-blue: hsl(224, 93%, 58%);
 --moderate-cyan: hsl(170, 45%, 43%);
 --light-grayish-blue: hsl(240, 75%, 98%);
 --light-gray: hsl(0, 0%, 75%);
 --white: hsl(0, 0%, 100%);
 --body-font: 'Open Sans', sans-serif;
 --primary-font: 'Raleway', sans-serif;
}

/*global styles*/
* {
  margin: 0;
  padding: 0;
}

body {
 box-sizing: border-box;
 font-family: var(--body-font);
 -ms-overflow-style: none;
 scrollbar-width: none;
 overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  background-color: var(--bright-blue);
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  color: var(--light-grayish-blue);
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 700;
  transition: all ease-in-out 0.3s;
}

nav, 
nav ul,
.first-article, 
.first-description, 
.second-article,
.second-description {
  display: flex;
} 

/*header*/
nav {
  flex-direction: row;
  padding: 4rem 5rem;
  align-items: center;
  justify-content: space-between;
  color: var(--desaturated-blue);
}

nav ul {
  flex-direction: row;
  gap: 3.6rem;
  cursor: pointer;
}

nav ul li {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
}

/*first-article*/
.first-article {
  flex-direction: row-reverse;
  width: 89%;
  margin: 0 auto;
  margin-top: 1.5rem;
}

.first-article img {
  max-width: 50%;
}

.first-description {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4.9rem;
  gap: 1.1rem;
  color: var(--very-dark-blue);
}

.first-description p {
  letter-spacing: 1px;
  max-width: 90%;
  line-height: 1.4rem;
}

.first-description h1 {
  font-size: 2.5rem;
  font-family: var(--primary-font);
  font-weight: 700;
  line-height: 3.7rem;
  word-spacing: 2px;
  color: var(--very-dark-blue);
}

.first-email {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.6rem;
  grid-template-areas: "input button";
  gap: 2rem;
}

.first-email input {
  padding: 0.8rem;
  width: 95.5%;
  grid-area: input;
  border-radius: 5px;
  border: 1px solid black;
}

.first-email button {
  grid-area: button;
  width: 66%;
}

.first-email input::placeholder {
  color: var(--light-gray);
  font-family: var(--primary-font);
  letter-spacing: 1px;
  opacity: 0.8;
}

/*second article*/
.second-article {
  position: relative;
  background-color: hsl(240, 75%, 98%);
  flex-direction: row-reverse;
  margin: 0 auto;
  margin-top: 25.5%;
  padding-left: 5rem;
  padding-bottom: 5.8rem;
}

.second-article::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 14rem;
  z-index: -1;
  background-image: url("images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding: 0;
  margin: 0;
  margin-top: -15.5%;
}

.second-image-cover {
  max-width: 40%;
  height: 53%;
  padding-right: 4.6rem;
}

.second-description {
  flex-direction: column;
  margin-top: -1.6rem;
  word-spacing: 2.5px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.second-description .info-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--very-dark-blue);
}

.second-description .info-main p {
  width: 74%;
  word-spacing: 0.3px;
  line-height: 1.5rem;
}

.linked-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all ease-in-out 0.3s;
}

.linked-info a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  gap: 6px;
  word-spacing: 0.7px;
  color: var(--moderate-cyan);
  position: relative;
  width: max-content;
}

.linked-info img {
  width: 0.9rem;
  height: 1rem;
}

.linked-info a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--moderate-cyan);
  color: var(--moderate-cyan);
  top: 120%;
}

.testimonials {
  display: flex;
  flex-direction: column;
  max-width: 39%;
  padding: 2.2rem;
  margin: 0 auto;
  margin-left: 0;
  margin-top: 2.6rem;
  gap: 0.6rem;
  background-color: var(--white);
  font-size: 0.8rem;
  word-spacing: 3.5px;
  line-height: 1.4rem;
  border-radius: 10px;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  color: var(--very-dark-blue);
}

.quotes {
  width: 1rem;
}

.testimonials-author {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.4rem;
}

.testimonials-author h3 {
  font-family: var(--primary-font);
  font-size: 0.7rem;
  font-weight: 700;
  word-spacing: 0.5px;
}

.testimonials-author h4 {
  font-size: 0.5rem;
  margin-top: -8px;
  word-spacing: 1.5px;
}

.testimonials-author img {
  object-fit: cover;
  border-radius: 50%;
  height: 2rem;
}

/*third article*/
.third-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--desaturated-blue);
  color: var(--white);
  padding: 6rem 5.1rem;
  grid-template-areas: "info email";
  gap: 15rem;
  padding-bottom: 5.3rem;
}

.third-article h2 {
  font-size: 1.8rem;
  font-family: var(--primary-font);
  font-weight: 700;
  letter-spacing: 1.3px;
  word-spacing: 2.5px;
}

.third-article-description {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-area: info;
  margin-top: 0.8rem;
}

.third-article-description p {
  line-height: 1.5rem;
  word-spacing: 2.5px;
  color: var(--light-grayish-blue);
}

.third-article-email {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-area: email;
  margin-top: 1.1rem;
}

.third-article-email input {
  padding: 1rem;
  width: 86%;
  border-radius: 5px;
  border: none;
  box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: -2px 10px 24px -11px rgba(0, 0, 0, 0.62);
}

.third-article-email input::placeholder {
  color: var(--light-gray);
  opacity: 0.8;
  font-family: var(--primary-font);
}

.third-article-email button {
  padding: 1rem;
  max-width: 39%;
  word-spacing: 1.5px;
}

/*footer*/
footer {
  width: 100%;
  flex-direction: column;
  gap: 1.6rem;
  padding: 6.9rem 5.5rem;
  align-items: flex-start;
  background-color: var(--very-dark-blue);
  margin-bottom: 0;
  color: var(--light-grayish-blue);
}

footer img {
  max-width: 70%;
}

