/* footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 6.9rem 5.5rem;
  align-items: flex-start;
  background-color: var(--very-dark-blue);
  margin-bottom: 0;
  color: var(--light-grayish-blue);
}

footer img {
  max-width: 70%;
}

.footer-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 14rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.menus {
  display: flex;
  flex-direction: row;
  gap: 12.5rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.first-menu,
.second-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  margin-left: -1rem;
}

.socials img {
  width: 1rem;
  border-radius: 50%;
  border-color: var(--white);
  border-width: 1px;
  border-style: solid;
  padding: 0.4rem;
  cursor: pointer;
}

.socials-svg {
  width: 1rem;
  border-radius: 50%;
  border-color: var(--white);
  border-width: 1px;
  border-style: solid;
  padding: 0.4rem;
  cursor: pointer;
  fill: #ffffff;
  transition: all ease-in-out 0.3s;
}

/*responsive*/
@media screen and (max-width: 1200px) {
  .footer-info,
  .menus {
    gap: 3rem;
  }
  .menus {
    gap: 4rem;
  }
}

@media screen and (max-width: 600px) {
  .socials {
    margin-left: initial;
  }
}

@media screen and (max-width: 530px) {
  footer {
    padding: 1.5rem;
  }
  .footer-info {
    flex-direction: column;
  }
  .menus {
    flex-direction: column;
  }
  .socials {
    margin: 0 50%;
  }
}
