/* header */
nav {
  flex-direction: row;
  padding: 4rem 5rem;
  align-items: center;
  justify-content: space-between;
  color: var(--desaturated-blue);
}

nav ul {
  flex-direction: row;
  gap: 3.6rem;
  cursor: pointer;
}

nav ul li {
  cursor: pointer;
}

/*Responsive*/
@media screen and (max-width: 960px) {
  nav {
    padding: 2rem;
  }
}

@media screen and (max-width: 530px) {
  nav {
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
  }
}
