/*Responsive*/
@media screen and (max-width: 960px) {
  .first-article,
  .second-article,
  .third-article {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3.5rem;
  }

  .first-email,
  .third-article-email {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "input"
      "button";
    gap: 1.5rem;
    width: 50%;
    margin: 0 auto;
  }
  .first-email label,
  .third-article-email label {
    width: 100%;
  }
  .first-email button,
  .third-article-email button {
    min-width: 100%;
    width: 100%;
    padding: 1rem;
  }
  .first-email input {
    padding: 0.8rem 0.4rem;
  }

  .third-article-email input {
    padding: 0.8rem 0;
    width: 100%;
  }
  .first-article img,
  .second-image-cover {
    max-width: 80%;
  }
  .info,
  .linked-info,
  .testimonials {
    align-items: center;
  }
}
